<h3>Create Item</h3>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="Item name">
  <input type="text" name="quant" placeholder="How many?">
  <input type="submit" value="Create Item">
</form>
