<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <script src="/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <title>Sinatra Shopping List</title>
  </head>
  <body>
    <div class="">Sinatra Shopping List</div>
    <hr>

    <%= yield %>

    <hr>
    &copy 2015-2016 JCB.
  </body>

</html>
