<h3>Update Item List</h3>

<p>
  <em>Update item list #<%= @item.id %>.</em>
</p>

<form action="/update" method="post">
  <input type="hidden" name="id" value="<%= @item.id %>">
  <input type="text" name="name" value="<%= @item.name %>">
  <input type="text" name="quantity" value="<%= @item.quantity %>">
  <input type="submit" value="update items">
</form>
